version: "3.9"

services:
  database:
    image: "postgres"
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: team5
    ports:
      - "5432:5432"
      -
  map_database:
    image: "postgis/postgis"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: map
    ports:
      - "5433:5432"

  auth_service:
    build:
      context: .
      dockerfile: Dockerfile-auth
    depends_on:
      - database
    ports:
      - "8082:8082"

  routing_service:
    build:
      context: .
      dockerfile: Dockerfile-routing
    depends_on:
      - database
    ports:
      - "8081:8081"
  images_service:
    build:
      context: .
      dockerfile: Dockerfile-images
    depends_on:
      - database
    ports:
      - "8083:8083"